.App {
  text-align: center;
  background-color: #dbdbdb;
  height: 100vh; /* Sets the height to 100% of the viewport height */
  flex-direction: column; /* Aligns children in a column */
  justify-content: center; /* Centers children vertically */
  align-items: center; /* Centers children horizontally */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (min-width:100px) and (max-width:640px){
  .App {
    text-align: center;
    /* background-color:white; */
    height:100%;
  }
}
